.loginBox{

    display: flex;
    justify-content: center;
    align-items: center;

    width: 30%;
    aspect-ratio: 1/1;

	margin:10vh auto;
    
    color:black;

    box-shadow: 8px 8px 10px rgba(163,177,198,0.5), -4px -4px 10px rgba(255, 255, 255, 0.7);
    background-position: center right 1rem;
    background-color: #f3f3f3;
    border-radius: 20px;

    transition: padding 100ms ease-in-out;
    /* display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; */
}

.form-control{
  padding: 12px 30px;
  margin: 10px;
  outline: 0;
  border: none;
  box-shadow: var(--sidebar-searchBar-box-shadow);
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: center right 1rem;
  background-color: var(--sidebar-searchBar-background-color);
  border-radius: 20px;
  transition: padding 100ms ease-in-out;
}

.loginBtn{
  padding: 12px 30px;
  margin: 10px;
  outline: 0;
  border: none;
  box-shadow: var(--sidebar-searchBar-box-shadow);
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: center right 1rem;
  background-color: var(--sidebar-searchBar-background-color);
  border-radius: 20px;
}