.gridBlock{
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-column-gap: 1.5em;
    grid-row-gap: 1.5em;
    margin-bottom: 1.5em;
}

.collectBlock{
    height: 4.5em;
    width: 4.5em;
    color:black;
    box-shadow: 8px 8px 10px rgba(163,177,198,0.5), -4px -4px 10px rgba(255, 255, 255, 0.7);
    background-position: center right 1rem;
    background-color: #f3f3f3;
    border-radius: 20px;
    transition: padding 100ms ease-in-out;
}

/*改顏色：喜歡再加*/

/* .collectBlock:hover {
	background-color: #F6F3DC;
}

.collectBlock:focus {
	background-color: #F6F3DC;
} */

.collectText{
    margin-left: 10px;
    margin-top: 20px;
    font-size: 20px;
}

