/* 檢查用 */
/* * {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
} */

@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);

* {
  background-color: #414141;
}

.news_child {
  width: 120%;
  height: auto;

  opacity: 100%;
  background-color: #d9d9d9;

  border-radius: 20px;

  display: inline-block;
  filter: drop-shadow(8px 10px 10px rgba(255, 255, 255, 0.3));

}

.news_title {
  background-color: #d9d9d9;

  font-family: "Noto Sans TC";
  color: #000000;
  font-size: 100%;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.1em;

  margin-left: 4%;
  margin-right: 4%;
}

.news_img {
  max-width: 90%; 
  
  display: block;
  margin: auto;
  
  border-radius: 18px;
  margin-bottom: 2%;
}

#carousel .item {
  display: flex;
  align-items: center;

  text-align: left;
  padding: 50px;
  transform: scale3d(0.8, 0.8, 1);
  margin-bottom: 0%;
  transition: all 0.3s ease-in-out;
}

#carousel .news_info {
  background-color: #d9d9d9;

  font-family: "Noto Sans TC";

  display: none;
  margin-left: 4.5%;
  margin-right: 4.5%;
}

#carousel .owl-item.active.center .item {
  transform: scale3d(1.0, 1.0, 1);
}

#carousel .owl-item.active.center .news_info {
  display: flex;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #56423D;
  transform: translate3d(0px, -50%, 0px) scale(0.8);
}

.owl-carousel .owl-dots {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.owl-carousel .owl-dots .owl-dot {
  display: inline-block;
}

.owl-carousel .owl-dots .owl-dot span {
  /* background: #eaa400; */
  background: #56423D;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 2px 5px;
  transform: translate3d(0px, -50%, 0px) scale(0.3);
  transform-origin: 50% 50% 0;
  transition: all 250ms ease-out 0s;
}

.button_more_info {
  background-color: #838383;
  color: #ffffff;

  float: right;
  margin-right: 5%;
  margin-bottom: 2%;
  border-radius: 19px;
  font-size: 100%;
  cursor: pointer;
}

.button_more_info:hover {
  background-color: #ffffff;
  color: #000000;
}