/* 檢查用 */
/* * {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
} */

.news_child {
  width: 33%;
  height: auto;

  opacity: 100%;
  background-color: #d9d9d9;

  border-radius: 20px;

  display: inline-block;
  filter: drop-shadow(8px 10px 10px rgba(255, 255, 255, 0.3));

}

.news_title {
  background-color: #d9d9d9;

  font-family: "Noto Sans TC";
  color: #000000;
  font-size: 100%;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.1em;

  margin: 2% 4%; 
}

.news_img {
  max-width: 90%; 
  
  display: block;
  margin: auto;
  
  border-radius: 18px;
  margin-bottom: 2%;
}

.carousel {
  overflow: hidden;
}

.inner {
  white-space: nowrap;
  transition: transform 0.3s;
}

.carousel-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  background-color: green;
  color: #fff;
}

.indicators {
  display: flex;
  justify-content: center;
}

.indicators > button {
  margin: 5px;
}

.indicators > button.active {
  background-color: green;
  color: #fff;
}