/* @import url(//fonts.googleapis.com/earlyaccess/notosanstc.css); */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
    /* Sidebar */
    --sidebar-menu-bars: White;
    --sidebar-nav-bar-title: #f3f3f3;
    --sidebar-nav-bar-background: #ffffff;
    --sidebar-nav-text-hover-background: #000000;
    --sidebar-nav-text-hover-color: #fff;
    --sidebar-bottomBlock-background: #f3f3f3;

    --sidebar-pages-color: #f3f3f3;
    --sidebar-pages-background-color: #000;

    --sidebar-line-borderbottom: lightgray;

    --sidebar-nav-menu-background-color: #f3f3f3;
    --sidebar-nav-menu-border-right: #1e1e1e;

    --sidebar-searchBar-box-shadow: 4px 4px 10px rgba(163,177,198,0.5), -4px -4px 10px rgba(255, 255, 255, 0.7);
    --sidebar-searchBar-background-color: #f3f3f3;

    /* Topbar */
    --topbar-background: #838383;
    --topbar-link: White;
}
